{% extends 'home/base.html' %}

{% block content %}

<main>
    <section class="cv">
        <div class="g">
            <div class="info">
                <img class="pp" src="../asset/p1.jpg" alt="Photo d'un bras robotique rouge dans une salle blanche, tenant un gobelet en plastique transparent." >
                <h2>Perrine Lambert</h2>
                <ul>
                    <li>13690 Graveson</li>
                    <li>perrine.lambert24@gmail.com</li>
                    <li>06 64 38 58 73</li>
                    <li>Permis B Véhiculée</li>
                    <li><a href="https://www.linkedin.com/in/perrine-lambert/" target="_blank"><img src="../asset/Rectangle 4.png" alt="https://www.linkedin.com/in/perrine-lambert/"></a></li>
                </ul>
            </div>
            <div class="se">
               <dl>
                    <dt><h3>Savoir-être</h3></dt>
                    <dd>Travail en équipe</dd>
                    <dd>Patience</dd>
                    <dd>Minutie</dd>
                    <dd>Calme</dd>
                    <dd>Sens de l'observation</dd>
               </dl>
            </div>
            <div class="ci">
                <dl>
                    <dt><h3>Centres d'intérêt</h3></dt>
                        <dd>Bricolage</dd>
                        <dd>Jeux vidéo</dd>
                        <dd>Elevage</dd>
                        <dd>Robotique</dd>
                </dl>
            </div>
            <div class="rs">
                <dl>
                    <dt><h3>Réseau social</h3></dt>
                    <dd class="gras">Discord</dd>
                    <dd>perrine_lambert</dd>
                </dl>
            </div>
        </div>

        <div class="d">
            <h1>Développeuse Web et Web Mobile</h1>
            <div class="carre1"></div>
            <div class="competence">
                <h3>Compétences</h3>
                <div class="sfom">
                    <dl>
                        <dt>Savoir-faire</dt>
                            <dd>HTML5</dd>
                            <dd>CSS</dd>
                            <dd>PHP</dd>
                            <dd>MySQL</dd>
                            <dd>Python</dd>
                            <dd>C#</dd>
                    </dl>
                    <dl>
                        <dt>Outils Maitrisés</dt>
                            <dd>Figma</dd>
                            <dd>WAMP</dd>
                            <dd>WordPress</dd>
                            <dd>PhpMyAdmin</dd>
                            <dd>Merise</dd>
                            <dd>Unity</dd>
                    </dl>
                </div>
                
            </div>
            <div class="carre"></div>
            <div class="exp-pro">
                <h3>Expériences professionnelles</h3>
                <p class="date">2022</p>

                <p class="tete">Versioning d'un site web responsive</p>
                <p class="lieu"><a href="https://livemap.getwemap.com/embed.html?emmid=15898&token=JOQ39BO9ZT34EQAI4TVUH9ULS&wemapHash=%23%2Fpinpoints%2F40760324#/pinpoints/40760324" target="_blank">La Fabrique</a> <a href="https://formations.avenir-84.org/" target="_blank">Avenir 84</a> / <a href="https://simplon.co/" target="_blank">Simplon</a> Avignon</p>
                <ul>
                    <li>Langages : PHP, SQL</li>
                    <li>Planification Gantt</li>
                </ul><br>

                <p class="tete">Création d'un tableau responsive en JavaScript</p>
                <p class="lieu"><a href="https://papirus.app/fr/offre/" target="_blank">Papirus</a> Avignon</p>
                <ul>
                    <li>Langages : PHP, JS</li>
                </ul><br>

                <p class="tete">Création de modèles de pages sur WordPress</p>
                <p class="lieu">Papirus  Avignon</p>
                <ul>
                    <li>Langages : PHP, CSS, HTML</li>
                </ul><br>

                <p class="tete">Création de bases de données</p>
                <p class="lieu">La Fabrique Avenir 84 / Simplon  Avignon</p>
                <ul>
                    <li>Langages : PHP, SQL</li>
                    <li>Conceptualisation des données</li>
                </ul>
            </div>
            <div class="carre"></div>
            <div class="diplome-forma">
                <h3>Diplômes et Formations</h3>

                <p class="date">2023</p>
                <p class="tete"><a href="https://formations.avenir-84.org/developpeur-web-et-web-mobile/" target="_blank">Titre professionnel Développeur web et web mobile</a></p>
                <p class="lieu">La Fabrique Avenir 84 / Simplon Avignon</p>

                <p class="date">2018</p>
                <p class="tete">Niveau DUT Génie Biologique option Agronomie</p>
                <p class="lieu">IUT Aix Marseille Digne les Bains</p>

                <p class="date">2016</p>
                <p class="tete">Bac STL Sciences et Technique de Laboratoire</p>
                <p class="lieu">Lycée Paul Langevin Martigues</p>
            </div>
        </div>
    </section>
</main>

{% endblock %}