{% extends 'home/base.html' %}



{% block content %}

<main class="accueil">
    <section class="vitrine">
        <h1>{{ firstpages.h1 }}</h1>
        <h2>{{ firstpages.h2 }}</h2>
        <p>{{ firstpages.introduction }}</p>
    </section>
    <!-- Parcours -->
    <section class="parcours">
        {% for journey in journeys %}
        <div class="bandeau">
            <div class="bulle-entete">
                <h2>{{ journey.h2 }}</h2>
            </div>
            <p>{{ journey.skills }}</p>
            <a href="{{ journey.orga_link }}" target="_blank">
                <img src="\media\{{ journey.orga_img }}" alt="">
            </a>
        </div>
        {% endfor %}
    </section>
    <!--Mes dernières réalisations-->
</main>

{% endblock %}

{% block js %}
<script>
   document.addEventListener("DOMContentLoaded", function() {
            const bgImgElements = document.querySelector('section.vitrine');
            const bgImgName = "{{ firstpages.bg_img }}"; // Assurez-vous que cette variable contient le bon chemin          
            bgImgElements.style.backgroundImage = `linear-gradient(135deg, rgba(200, 121, 127, 0.95), rgba(77, 19, 92, 0.95)), url('/media/${bgImgName}')`;       
            
        });
</script>
{% endblock %}